.panier__fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio__panier-choice {
    margin-bottom: 1rem !important;
}

.panier__container--btn-valider {
    margin-top: 2rem !important;
}

.error_cart{
    text-align: center;
}

