.panier {
  max-width: 600px !important;
  margin: 2rem auto !important;
  padding: 1rem !important;
}

.panier__vide {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 4rem;
}
.panier__vide img {
  max-width: 80%;
  object-fit: contain;
}

.panier__vide h1,
.panier__container h1 {
  text-align: center;
  margin: 2rem 0;
  font-weight: 450;
  font-size: 2rem;
}

.panier__container{  
  border: 1px solid rgb(77, 76, 76);
  padding: 4rem 7rem;
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  position: relative;
}

.panier__nombre-articles {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
}

.panier__container--prix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}
.panier__container--prix h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}
.panier__container--prix p {
  font-size: 1.5rem;
  font-weight: 600;
}

.panier__container--btn-valider {
  text-align: center !important;
  background: rgb(77, 76, 76) !important;
  margin: auto !important;
  display: block !important;
}

.panier__choice-delivery{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.panier__choice-delivery input[type=radio] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

.panier__choice-delivery input[type=radio] {
  display: none;
}

.panier__choice-delivery input[type=radio] + label:before {
  content: "\123";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 1rem;
  vertical-align: middle;
  color: transparent;
  transition: .2s;
}

.panier__choice-delivery input[type=radio] + label:active:before {
  transform: scale(0);
}

.panier__choice-delivery input[type=radio]:checked + label:before {
  background-color: #F7D452;
  color: #F7D452;
}

.panier__choice-delivery input[type=radio]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

.panier__choice-delivery input[type=radio]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}

.choice-delivery__form{
  margin: 1rem;
}

.go-back {
  font-size: 16px;
  font-weight: 600;
  /**
   * If you set it to a value higher than the 'font-size', 
   * you will have to take account of the difference 
   * between the 'line-height' and the 'font-size' 
   * to vertically centre the arrow and align it with the text.
   **/
  line-height: 1;

  /* Makes some place for the arrow */
  padding-left: 15px;

  /* The arrow will be absolutely positioned */
  position: relative;
  border: none;
  background-color: white;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.go-back::before {  
  color:  #F7D452;
  border-style: solid;
  border-width: 0 0 2px 2px;
  content: "";
  display: block;
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;

  /* These two lines vertically centre the point of the arrow */
  margin-top: -3px;
  top: 50%;

  /* The arrow sprints to the left when the link is hovered */
  transition: left 0.1s;

  transform: rotate( 45deg );
  -webkit-transform: rotate( 45deg );
}

@media (max-width: 600px) {
  .panier__vide img {
    max-width: 70%;
  }

  .panier__vide h1,
  .panier__container h1 {
    font-size: 1.3rem;
  }

  .panier__container--prix h1 {
    font-size: 1.3rem;
  }
  .panier__container--prix p {
    font-size: 1.3rem;
  }
}
