
.team{  
  background-image: url("../../images/background-logo.svg");   
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 3rem;
}

.team_header{
  display: flex;
  align-items: center;
  justify-content:center;
  margin-bottom: 4rem;

}

.team__introduction{
  max-width: 1000px;
}

.team_title {
  font-family: 'Joti One', cursive;
  font-size: 48px;  
  text-align: center;
  color: #FFE000;
  margin-bottom: 2rem;
}

.logo__team-page {      
  width: 188px;
  height: 167px;
}

.team__logo {  
  align-items: center;
  position: relative;  
}

.team__bitmoji {
  margin-top: -23em;
  margin-left: 5em;
  position: absolute;
  
}

.team__bitmoji2 {
  margin-top: -23em;
  margin-left: 41em;
  position: absolute;
  
}
.team__bitmoji3 {
  margin-top: -23em;
  margin-left: 78em;
  position: absolute;
  
}

.team_text{
    /* color: #90d9f1 !important; */    
    font-size: 24px;
    font-weight: 80 !important;
    color:black;
    text-align: center;
  }

  .team__description{
    /* color: #90d9f1 !important; */
    font-size: 1.1rem !important;
    font-weight: 80 !important;
    color:black;
  }

  .team_figure {
    
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-bottom: 3em;

  }

  .personnel__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
  }

  .personnel__container h2 {
    font-family: 'Joti One', cursive;    
    font-size: 48px;  
    color: #FFE000;
    margin-bottom: 1.5rem;
  }

@media screen and (max-width: 750px) {
  .logo__team-page {
    display: none;
  }
}